@{
    ViewData["Title"] = "Create";
    Layout = null;
}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        overflow: hidden; /* Prevents overflow issues */
    }

    .gif-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw; /* Full viewport width */
        height: 100vh; /* Full viewport height */
        position: relative;
    }

        .gif-container img {
            width: 100%;
            
            object-fit: cover;
        }

    .invisible-button {
        position: absolute;
        top: 57%;
        left: 75%;
        transform: translate(-50%, -50%);
        width: 35%; /* Adjust size as needed */
        height: 18%; /* Adjust size as needed */
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
    }
</style>

<div class="gif-container">
    <img src="~/gif/aliyahgaming-ezgif.com-video-to-gif-converter.gif" />
    <form id="redirectForm" action="/GameRecord/Create" method="Get">
        <button class="invisible-button" id="myButton"></button>
    </form>
    
</div>